<style>

*{
padding: 0px;
margin:0px;
}
.page{
height: 1500px;
width: 100%;
}

.nav{
width: 160px;
height: auto;
position: fixed;
left: 0px;
top: 50%;
margin-top: -83px;
}

.nav-li{
width: 160px;
height: auto;
border-bottom: 1px solid #fff;
background-color: #798285;
text-align: center;
line-height: 40px;
color: #fff;
font-size: 16px;
}

.nav-li ul{
width: 100%;
height: auto;
background-color: #eef4f7;
display: none;
cursor: pointer;
}

.nav-li:hover ul{
display: block;
}
.nav-li ul li{
width: 160px;
height: 40px;
border-bottom: 1px #666 dashed;
color: #333;
text-align: center;
line-height: 40px;
}
.tit{
width: 160px;
height: 40px;
text-align: center;
line-height: 40px;
}


</style>
<div>
<div class="page">
	<div class="nav">
		<div class="nav-li">导航1
			<ul>
				<li>选项1</li>
				<li>选项2</li>
				<li>选项3</li>
			</ul>
		</div>
<div class="nav-li"><div class="tit">导航2</div>
			<ul>
				<li>选项1</li>
				<li>选项2</li>
				<li>选项3</li>
			</ul>
		</div>
<div class="nav-li"><div class="tit">导航3</div>
	<ul>
		<li>选项1</li>
		<li>选项2</li>
		<li>选项3</li>
	</ul>
</div>
<div class="nav-li"><div class="tit">导航4</div>
		<ul>
			<li>选项1</li>
			<li>选项2</li>
			<li>选项3</li>
		</ul>
		</div>
	</div>
</div>
</div>