<div class="tabbable" id="tabs-116060">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#panel-335801" data-toggle="tab">登陆</a>
		</li>
		<li>
			<a href="#panel-953225" data-toggle="tab">注册</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="panel-335801">
			<form>
				<label>用户名</label><input type="text" class="form-control" style="margin-bottom: 20px; width: 300px;">
				<label>密码</label><input type="password" class="form-control" style="width: 300px;">
				<button type="submit" class="btn" style="margin-top:20px;">登陆</button>
			</form>
		</div>
		<div class="tab-pane" id="panel-953225">
			<form>
				<label>用户名</label><input type="text" class="form-control" style="margin-bottom: 20px; width: 300px;">
				<label>密码</label><input type="password" class="form-control" style="margin-bottom: 20px; width: 300px;">
				<label>确认密码</label><input type="password" class="form-control" style="width: 300px;">
				<button class="btn" type="submit" style="margin-top: 20px;">提交</button>
			</form>
		</div>
</div>