<div class="tabbable" id="tabs-116060">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#panel-335801" data-toggle="tab">登陆</a>
		</li>
	</ul>
</div>
<h3 style=" position: absolute; padding-left: 170px;padding-top: 50px;">登录</h3>
<div class="tab-content" style="padding-left: 50px;padding-top: 100px;">
	<div class="tab-pane active" id="panel-335801">
		<form ng-controller="loginCtrl"  ng-submit="login()">
			<label>用户名</label><input type="text" required class="form-control" ng-model="usr" style="margin-bottom: 20px; width: 300px;">
			<label>密码</label><input type="password" required class="form-control" ng-model='pwd' style="width: 300px;">
			<button type="submit" class="btn" style="margin-top:20px;">登陆</button>
		</form>
		<span ui-sref="sign" style="font-size: 12px; position: absolute; margin-top: -20px;margin-left: 100px;"><a href="">还没注册的同学可以点击这里注册</a></span>
	</div>
</div>
